html {
  background: #f7f7fb;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  width: 600px;
  height: 600px;
}

#root {
  border: 2px solid #000;
  box-sizing: border-box;
}
